<!-- <div>
</div>
<div class="card my-3 borde" style="max-width: 860px; height:auto;" *ngFor=" let item of items | async">

    <div class="row g-0 px-2">
        <div class="col-md-4 my-2">
            <img style="max-width: 100%;" class="borde" src='{{item.url}}' />
        </div>
        <div class="col-md-8">
            <div class="card-body text-center">
                <h1 class="">{{item.articulo}}</h1>
                <h2 class="card-title mt-3">{{item.nombre}}</h2>
                <p class="card-text mt-3">{{item.descripcion}}</p>
            </div>
        </div>
    </div>
</div> -->
<div class="container container-sm pt-3 text-center">
    <button class="btn btn-primary" (click)="traer()">traer fotos</button>
</div>
<div class="card my-3 borde" style="max-width: 860px; height:auto;" *ngFor="let item of items| async">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let img of item.url ; let i=index" [ngClass]="{'active': i == 0 }">
                <!-- <img style="max-width: 100%;" class="borde" src='{{img}}'/> -->
                <img src='{{img}}' class="d-block w-100 borde" alt="..." style="max-width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{item.nombre}}</h5>
                    <p>{{item.descripcion}}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>