<div class="container">
    <button class="btn btn-danger" (click)="traer()">traer</button>
</div>
<div class="container" *ngFor="let item of items | async; let o = index">
    <div class="card my-3 borde">
        <div id="{{item.nombre}}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let img of item.url; let i = index;" [ngClass]="{'active': i == 0 }">
                    <img [src]="img" class="d-block w-100 borde" alt="..." style="max-width: 100%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{item.nombre}}</h5>
                        <p>{{item.descripcion}}</p>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#' + item.nombre" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#' + item.nombre" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>